.root{
    -fx-background-color: #FFFFFF;
    /*-fx-alignment: center top;*/
}
#username {
    -fx-max-width: 315px;
    -fx-max-height: 48px;
    -fx-pref-width: 315px;
    -fx-pref-height: 48px;
    -fx-background-color: #EFF2F5;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #666666;
    -fx-padding: 0 0 0 10;
    /*-fx-opacity: 0.7;*/
}
#iconMat{
    -fx-padding: 0 500 0 20;
}
#password {
    -fx-max-width: 315px;
    -fx-max-height: 48px;
    -fx-pref-width: 315px;
    -fx-pref-height: 48px;
    -fx-background-color: #EFF2F5;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #666666;
    -fx-padding: 0 0 0 10;
    /*-fx-opacity: 0.7;*/
    /*-fx-background-image:url('/images/iconPass.png');*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: left center;*/
}
#btnLogin{
    -fx-alignment: center;
    -fx-max-width: 315px;
    -fx-max-height: 48px;
    -fx-pref-width: 315px;
    -fx-pref-height: 48px;
    -fx-border-radius: 5px;
    -fx-background-color: linear-gradient(to top,#106DB6, #1487E1 );

    -fx-text-fill: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-line-height: 19px;
    -fx-display: flex;
    -fx-align-items: center;
}
#footer{
    -fx-fill:#106DB6 ;
    -fx-max-width: 143px;
    -fx-max-height: 14px;
    -fx-pref-width: 143px;
    -fx-pref-height: 14px;

    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    /* identical to box height */


}
